body {
    text-align: center;
    background: linear-gradient(#ffffff 50%, rgba(255,255,255,0) 0) 0 0,
radial-gradient(circle closest-side, #FFFFFF 53%, rgba(255,255,255,0) 0) 0 0,
radial-gradient(circle closest-side, #FFFFFF 50%, rgba(255,255,255,0) 0) 55px 0 #48B;
background-size:110px 200px;
background-repeat:repeat-x;
}
.score-panel {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-family:  cursive fantasy;
    font-size: 20px;
}
.score-panel .timer {
    padding: 5px;
    display: inline-block;
    margin: 0 5px 0 15px ;
}
.score-panel .score {
    padding: 5px;
    display: inline-block;
    margin: 0 5px 0 15px ;
}
.score-panel .lives {
    padding: 5px;
    display: inline-block;
    margin: 0 5px 0 15px ;
}
